* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
}

.entress__title, .dessert__title, .mdish__title {
  text-transform: uppercase;
}

.logo {
  width: 40%;
  height: 7vh;
  margin: 0 auto;
  position: relative;
}

.logo__icon {
  position: absolute;
  top: 30%;
  left: -65%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
}

.logo__icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 600px) {
  .logo {
    padding: 0.5rem;
  }
}

.card {
  width: 100%;
  height: 35vh;
  border-radius: 16px;
  margin-bottom: 1rem;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms ease-out;
  transition: -webkit-box-shadow 250ms ease-out;
  transition: box-shadow 250ms ease-out;
  transition: box-shadow 250ms ease-out, -webkit-box-shadow 250ms ease-out;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card__image {
  height: 70%;
}

.card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card:hover {
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.card .card-content {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 0.8rem;
}

.card .card-content__title {
  font-weight: bold;
}

.card .card-content__icon {
  text-align: right;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card .card-content__icon--regular {
  display: block;
}

.card .card-content__icon--solid {
  display: none;
}

.card .card-content__icon:hover .card-content__icon--solid {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .card-content__icon:hover .card-content__icon--regular {
  display: none;
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 12px;
  margin: 1rem 0;
  padding: 1rem;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.dish:nth-child(3) {
  -webkit-animation: add-transform 1000ms both;
          animation: add-transform 1000ms both;
}

.dish:nth-child(4) {
  -webkit-animation: add-transform 1100ms both;
          animation: add-transform 1100ms both;
}

.dish:nth-child(5) {
  -webkit-animation: add-transform 1200ms both;
          animation: add-transform 1200ms both;
}

.dish:nth-child(6) {
  -webkit-animation: add-transform 1300ms both;
          animation: add-transform 1300ms both;
}

.dish__title {
  font-weight: bold;
}

.dish__price {
  font-weight: bold;
}

@-webkit-keyframes add-transform {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes add-transform {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.underline {
  width: 3rem;
  height: 0.25rem;
  margin: 0.25rem 0;
  background-color: #99E2D0;
}

.label {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 0.25rem 1.5rem;
  background-color: #99E2D0;
  color: #217460;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.restaurant__icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
}

.restaurant__icon--regular {
  display: block;
}

.restaurant__icon--solid {
  display: none;
}

.restaurant__icon:hover .restaurant__icon--solid {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 20%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant__icon:hover .restaurant__icon--regular {
  display: none;
}

.btn {
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms ease-in;
  transition: -webkit-box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in, -webkit-box-shadow 250ms ease-in;
  max-width: 14rem;
}

.btn:hover {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.45);
}

.btn--booking {
  color: #fff;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 5%, #9356DC 80%);
  padding: 1rem 1.2rem;
}

.btn--booking:hover {
  color: #f2f2f2;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff60d3), color-stop(80%, #8641d8));
  background: linear-gradient(180deg, #ff60d3 5%, #8641d8 80%);
  padding: 1rem 1.2rem;
}

.btn--order {
  margin: 0 auto;
  margin-top: 3rem;
  width: 50%;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 5%, #9356DC 80%);
  padding: 1rem 1.2rem;
}

.btn--order:hover {
  color: #f2f2f2;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff60d3), color-stop(80%, #8641d8));
  background: linear-gradient(180deg, #ff60d3 5%, #8641d8 80%);
  padding: 1rem 1.2rem;
}

.map {
  background: #e6e6e6;
  text-align: center;
}

.map__icon {
  padding: 1rem 0.4rem;
}

.map__title {
  padding: 1rem 0.4rem;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
  background: #f2f2f2;
  padding: 1.5rem 2.5rem;
}

.booking__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.booking__subtitle {
  text-align: center;
  font-weight: 300;
}

section {
  padding: 2rem;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 953px) {
  section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 1rem;
    padding: 2rem 0.75rem;
    height: 15rem;
  }
}

@media screen and (min-width: 600px) {
  section h2 {
    width: 60%;
  }
}

@media screen and (min-width: 953px) {
  section h2 {
    margin-left: 12.5px;
  }
}

section .instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
}

@media screen and (min-width: 600px) {
  section .instruction {
    width: 60%;
  }
}

@media screen and (min-width: 953px) {
  section .instruction {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

section .instruction__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  padding: 1.5rem 0;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms ease-in;
  transition: -webkit-box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in, -webkit-box-shadow 250ms ease-in;
}

@media screen and (min-width: 953px) {
  section .instruction__block {
    width: 30%;
  }
}

section .instruction__block :nth-child(1) {
  background: #9356DC;
  color: #f2f2f2;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  margin-left: -10px;
}

section .instruction__block:hover {
  background: #e4d5f6;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.45);
}

section .instruction__block:hover i {
  color: #9356DC;
}

.header__img {
  height: 30vh;
}

.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 953px) {
  .header__img {
    height: 50vh;
  }
}

main {
  padding: 3rem 0.75rem;
  padding-top: 0;
  background-color: #f2f2f2;
}

@media screen and (min-width: 600px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2%;
  }
  main > .card {
    width: 48%;
  }
  main .main__title {
    width: 100%;
  }
  main .restaurant {
    width: 75%;
  }
  main .entrees, main .mdish, main .dessert {
    width: 75%;
  }
  main .btn-container {
    width: 100%;
  }
}

@media screen and (min-width: 953px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1%;
  }
  main > .card {
    width: 23%;
  }
  main .restaurant {
    width: 50%;
  }
  main .entrees, main .mdish, main .dessert {
    width: 50%;
  }
  main .btn-container {
    width: 100%;
  }
}

.main__title {
  padding: 1.5rem 0;
}

.add__border {
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  padding-top: 1.5rem;
  position: relative;
  z-index: 2;
}

.add__border .entrees, .add__border .mdish, .add__border .dessert {
  -webkit-animation: add-opacity 3000ms both;
          animation: add-opacity 3000ms both;
}

@-webkit-keyframes add-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes add-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer-list {
  background-color: #333333;
  padding: 1rem 1rem;
}

.footer-list__item a {
  color: #fff;
  line-height: 2;
}

.footer-list__item--first {
  font-family: 'Shrikhand', cursive;
}

@media screen and (min-width: 600px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 953px) {
  .footer-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 25vh;
  }
}
/*# sourceMappingURL=main.css.map */