* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
}

.entress__title, .dessert__title, .mdish__title {
  text-transform: uppercase;
}

.logo {
  width: 40%;
  height: 7vh;
  margin: 0 auto;
  position: relative;
}

.logo__icon {
  position: absolute;
  top: 30%;
  left: -65%;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card {
  width: 100%;
  height: 35vh;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  margin-bottom: 1rem;
  position: relative;
}

.card__image {
  height: 70%;
}

.card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card .card-content {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
}

.card .card-content__title {
  font-weight: bold;
}

.card .card-content__icon {
  text-align: right;
  font-size: 1.25rem;
}

.card .card-content__icon--regular {
  display: block;
}

.card .card-content__icon--solid {
  display: none;
}

.card .card-content__icon:hover .card-content__icon--solid {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .card-content__icon:hover .card-content__icon--regular {
  display: none;
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 12px;
  margin: 1rem 0;
  padding: 1rem;
}

.dish__title {
  font-weight: bold;
}

.dish__price {
  font-weight: bold;
}

.underline {
  width: 3rem;
  height: 0.25rem;
  margin: 0.25rem 0;
  background-color: #99E2D0;
}

.label {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 0.25rem 1.5rem;
  background-color: #99E2D0;
  color: #217460;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.restaurant__icon {
  width: 10%;
  font-size: 1.25rem;
}

.restaurant__icon--regular {
  display: block;
}

.restaurant__icon--solid {
  display: none;
}

.restaurant__icon:hover .restaurant__icon--solid {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 20%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant__icon:hover .restaurant__icon--regular {
  display: none;
}

.btn {
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
}

.btn--booking {
  color: #fff;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 5%, #9356DC 80%);
  padding: 1rem 1.2rem;
}

.btn--order {
  margin: 0 auto;
  margin-top: 3rem;
  width: 50%;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 5%, #9356DC 80%);
  padding: 1rem 1.2rem;
}

.map {
  background: #e6e6e6;
  text-align: center;
}

.map__icon {
  padding: 1rem 0.4rem;
}

.map__title {
  padding: 1rem 0.4rem;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
  background: #f2f2f2;
  padding: 1.5rem 2.5rem;
}

.booking__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.booking__subtitle {
  text-align: center;
  font-weight: 300;
}

section {
  padding: 2rem;
}

section .instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
}

section .instruction__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  padding: 1.5rem 0;
  border-radius: 24px;
}

section .instruction__block :nth-child(1) {
  background: #9356DC;
  color: #f2f2f2;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  margin-left: -10px;
}

section .instruction__block:hover {
  background: #e4d5f6;
}

section .instruction__block:hover i {
  color: #9356DC;
}

.header__img {
  height: 30vh;
}

.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  padding: 3rem 0.75rem;
  padding-top: 0;
  background-color: #f2f2f2;
}

.main__title {
  padding: 1.5rem 0;
}

.add__border {
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  padding-top: 1.5rem;
  position: relative;
  z-index: 2;
}

.footer-list {
  background-color: #333333;
  padding: 1rem 1rem;
}

.footer-list__item a {
  color: #fff;
  line-height: 2;
}

.footer-list__item--first {
  font-family: 'Shrikhand', cursive;
}
/*# sourceMappingURL=main.css.map */