// button
@mixin button {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(180deg, $secondary-color 5%, $primary-color 80%);
    padding: 1rem 1.2rem;
}

@mixin btn-hover {
    color: darken(#fff, 5%);
    font-weight: bold;
    background: linear-gradient(180deg, darken($secondary-color, 5%) 5%, darken($primary-color, 5%) 80%);
    padding: 1rem 1.2rem;
}



// box-shadows:

@mixin shadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

@mixin  shadow-hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}