// Footer

.footer-list {
    background-color: darken(#fff, 80%);
    padding: 1rem 1rem;
    &__item {
        a {
            color: #fff;
            line-height: 2;
        }
        &--first {
            font-family: 'Shrikhand', cursive;
        }
    }

    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 953px) {
        flex-direction: row;
        justify-content: space-evenly;
        height: 25vh;
    }
        
    
}