//main section of the homepage
main {
    padding: 3rem 0.75rem;
    padding-top: 0;
    background-color: darken(#fff, 5%);
    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        & > .card {
            width: 48%;
        }
        .main__title {
            width: 100%;
        }
        .restaurant {
            width: 75%;
        }
        .entrees, .mdish, .dessert {
            width: 75%;
        }
        .btn-container {
            width: 100%;
        }
    }
    @media screen and (min-width: 953px) {
        justify-content: center;
        gap: 1%;
        & > .card {
            width: 23%;
        }
        .restaurant {
            width: 50%;
        }
        .entrees, .mdish, .dessert {
            width: 50%;
        }
        .btn-container {
            width: 100%;
        }
    }
}

.main__title {
    padding: 1.5rem 0;
}

// main section with border-radius
.add__border {
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    padding-top: 1.5rem;
    position: relative;
    z-index: 2;
}
