// The restaurant title area
// restaurant name with the hearth icon
.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    &__icon {
        width: fit-content;
        font-size: 1.25rem;
        &--regular {
            display: block;
        }
        &--solid {
            display: none;
        }
        &:hover {
            .restaurant__icon--solid {
               @include heart;
            }
            .restaurant__icon--regular {
                display: none;
            }
        }
    }
}