// The restaurant title area
// restaurant name with the hearth icon
.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    &__icon {
        width: 5%;
        font-size: 1.25rem;
        position: relative;
        &--regular {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            opacity: 1;
            transition: opacity 150ms linear;
        }
        &--solid {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            z-index: -10;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: opacity 550ms linear;
        }
        &:hover {
            .restaurant__icon--solid {
               @include heart;
               opacity: 1;
            }
            .restaurant__icon--regular {
                opacity: 0;
            }
        }
    }
}